
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;

}
input:focus{
        outline: none;
}

.clear{
    position: relative;
    width:100%;
    img{
        width:100%;
        height:100%
    }
    span{
        position:absolute;
        right:40px;
        top:20px;
        z-index:10;
        background-color:#fcc;
        display:block;
        width:22px;
        height:22px;
        border-radius: 50%;
        background: url(../img/a.png) no-repeat -272px -112px;
    }

}
/*头部*/
.top-wrap{
    width:100%;
    border-bottom:1px solid #eeeeee;

}
.top{
    width:1200px;
    margin:0 auto;
    height: 28px;

    font-size: 12px;
    position:relative;
}
.one{
    position: absolute;
    left: 40px;
    top: 6px;
    color:#998c59;

}
.snav{
    float: right;
    display: flex;
    margin-right:6px;
}
.snav li{
    height: 15px;
    border-left: 2px solid #eeeeee;
    margin:6px 0;
    padding: 0 6px;
}
.snav li:first-child{
    border: none;
}
.snav li a{
    margin:6px;
    color:#999999;
}
.snav .red{
    color:#b92a4d;
}
.snav li a:hover {
    color:#000;
}

/*logo*/
header{
    height: 115px;
    width: 1200px;
    margin:0 auto;
    position:relative;
    /*background: #fcc;*/
}
header a:first-child{
    position: absolute;
    left:65px;
    top:20px;
}

header .seach{
    display: flex;
    float: right;
    margin-right: 35px;
    margin-top: 46px;
}

header .seach input{
    width: 283px;
    height: 35px;
    border: none;
    border-bottom:1px solid #eeeeee;
}
header .seach input:hover{
    border-bottom: 1px solid #000;
}
header .seach .fdj{
    width:25px;
    height: 25px;
    background: url(../img/a.png) no-repeat -378px -417px;
}
header .seach .car{
    width: 25px;
    height: 25px;
    background: url(../img/a.png) no-repeat -30px -500px;
}

/*nav*/
.nav {
    width: 1200px;
    margin:0 auto;
    height:44px;
   /* background: #fcc;*/
}


 #bannernav{
        position:absolute;
        left:-20px;
        top:44px;
        display:block;
        z-index:90;

    #twonav{
        position:absolute;
        left:239px;
        top:0;
        width:790px;
        height:400px;
        background:#fff;
        z-index:10;
        border-top:2px solid #000;
        display:none;
        padding:15px 45px;
            .top{
                width:790px;
                border-bottom:1px solid #eeeeee;
                height:55%;
                p{
                    display: inline-block;
                    float:left;
                    text-align:left;
                    width:120px;
                    height:160px;
                    padding-left:10px;
                    color:#c5bab4;
                    font-size:12px;
                    line-height:70px;
                    }
                   ul{
                    display:flex;
                    justify-content:flex-start;
                    flex-wrap:wrap;
                    li{
                        width:120px;
                        height:80px;
                        margin:15px 18px;
                        // background:#fcc;
                        text-align:center;
                        a{
                            font-size:12px;
                            color:#d7d7d7;
                            img{
                            width:120px;
                            height:48px;
                            margin-bottom:4px;
                            }
                        }
                        a:hover{
                            text-decoration:underline;
                            color:#000;
                        }
                    }

                }


            }


            .bottom{

                padding-top:20px;

                p{
                    display: inline-block;
                    float:left;
                    text-align:left;
                    width:120px;
                    height:160px;
                    padding-left:10px;
                    color:#c5bab4;
                    font-size:12px;
                    line-height:40px;

                }
                ul{
                    width:660px;
                    display:flex;
                    justify-content:flex-start;
                    flex-wrap:wrap;
                    float:right;
                    li{
                    width: 58px;
                    margin:9px 0;
                    border-right:1px solid #d7d7d7;
                    text-align: center;
                    font-size:12px;
                        a{
                            color:#a2a2a2;
                        }
                        a:hover{
                        text-decoration:underline;
                        color:#000;
                        }
                    }
                }

            }
            }
        li{
            width:219px;
            height:54px;
            line-height:52px;
            // border-bottom:1px solid #333;
            a{
                font-size:12px;
                font-weight:bold;
                color:#fff;
                margin-left:12px;
            }
        }
        li:nth-child(odd){
            background:#402d2d ;
        }
        li:not(:nth-child(odd)){
            background:#332424;
        }
        li:hover{
            background:#fff;
            a{
              color:#000;
            }
        }
    }

.all span:nth-child(2){
    position: absolute;
    left: 190px;
    top:15px;
    display: inline-block;
    float: right;
    width: 16px;
    height: 16px;
    margin-right:12px;

    background: url(../img/a.png) no-repeat -278px -326px;

}

.bnav{
    display: flex;
    float: left;
    //margin-left:30px;
}
.bnav li{
    margin:0 20px;
    font:13px/44px "宋体";
    font-weight: bold;

}
.bnav .all{
    display: inline-block;
    width:208px;
    height: 44px;
    background:#a12020;
    font-size:14px;
    color:#fff;
    margin-left:0;
    padding-left:11px;
    line-height: 44px;
    float: left;
    position: relative;
}
.bnav a{
  display: inline-block;
  color:#000;
  height: 40px;
  /*border: 2px solid #000;*/
}
@-webkit-keyframes hot{
  25% {-webkit-transform: translateY(-3px);}
  50%, 100% {-webkit-transform: translateY(0);}
  75% {-webkit-transform: translateY(-3px);}
 }

 @keyframes hot{
  25% {-webkit-transform: translateY(-3px);}
  50%, 100% {-webkit-transform: translateY(0);}
  75% {-webkit-transform: translateY(-3px);}
 }
.bnav .zhizhen{
    position: relative;
}
.bnav .zhizhen #hot{
    position: absolute;
    left: 56px;
    top: 3px;
    z-index: 2;
    width:22px;
    height: 16px;
    background: url(../img/a.png) no-repeat -371px -268px;
    -webkit-animation:hot 1s linear infinite;
    animation: hot 1s linear infinite;
    }
.bnav li:nth-child(2) a{
    position: relative;
    color:#ba2424;
}
.bnav li a:hover{
    border-bottom:4px solid #a12020;
}
.bnav #bannernav a:hover{
    border-bottom:none;
}



 .last{
        width:100%;
        margin-top:35px;
        border-top:1px solid #eeeeee;
        img{
            width:1200px;
            height:70px;
            margin:0 auto;
        }
    }

