@import "public";

// banner

@-webkit-keyframes contai{
   0% {-webkit-transform: scale(1.1);}
  100% {-webkit-transform: scale(1);}
 }

 @keyframes contai{
  0% {-webkit-transform: scale(1.1);}
  100% {-webkit-transform: scale(1);}
 }
.container{
    width:100%;
    margin:0 auto;
    height:432px;
    position:relative;
    overflow:hidden;
    ul li{
        display:block;
        img{
        width:100%;
        height:432px;
        // transition: all 0.6s;
        -webkit-animation: 2s linear 1;
        animation: contai 2s linear 1;
        }
        // img:hover{
        //     transform: scale(1.4);
        // }

    }
    ol{
        display:flex;
        position:absolute;
        left:50%;
        bottom:13px;
        -webkit-transform:translateX(-50%);
        z-index:2;
        li{
        width:19px;
        height:2px;
        background:#fff;
        opacity:0.5;
        margin:0 4px;
        }
    }
    span{
    width: 30px;
    height: 90px;
    line-height: 90px;
    // background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    position: absolute;

    top: 40%;
    left: 50%;
    // -webkit-transform: translateY(-60%);
    -webkit-transform: translateX(-380px);
    // -moz-transform:translateY(-60%);
    -moz-transform:translateX(-380px);
    display:none;
    }
    #ltBnt{
    background:url(../img/a.png) no-repeat -304px -76px;
    }
    #rtBtn{
    background:url(../img/a.png) no-repeat -372px 0;
    right: 50%;
    -webkit-transform: translateX(500px);
    -moz-transform:translateX(500px);
    left: auto;
    }
    #ltBnt:hover{
        background:url(../img/a.png) no-repeat -372px -100px;
    }
    #rtBtn:hover{
        background:url(../img/a.png) no-repeat -304px -176px;
    }



}

// 广告图下面的标签
.banbottom{
    width:100%;
    height:56px;
    border-bottom:1px solid #e5e5e5;
    margin:0 auto;
    ul{
        width:1200px;

        margin:0px auto;
        display:flex;
        justify-content:space-around;
        color:#666679;
        font-size:18px;
        line-height:56px;
        li{
        width:295px;
        height:56px;
        line-height:56px;
        text-align:center;
            span{
                font-size:19px;
                line-height:22px;
                margin-right:5px;

                }
        }
            li:nth-child(1) span{
            background:url(../img/a.png) no-repeat -542px -68px;
            }
            li:nth-child(2) span{
            background:url(../img/a.png) no-repeat -542px -34px;
            }
            li:nth-child(3) span{
            background:url(../img/a.png) no-repeat -542px  0px;
            }
            li:nth-child(4) span{
            background:url(../img/a.png) no-repeat -542px -102px;
            }
    }

}

//小广告图
.small-ban{
    ul{
        width:1200px;
        display:flex;
        justify-content:space-around;
        margin:30px auto;
        li{
            margin:0 2px;
            img{
                width:100%;
                height:100%;
            }
        }

    }
}


// 广告图
.three-ban{
    //height:120px;
    width:1200px;
    //background:#fcc;
    margin:0 auto;
    margin-top:30px;
    overflow:hidden;
    .left-pic{
        //display:block;
        width:402px;
        float:left;
        a{
            display:block;
            float:left;
            width:100%;
            height:374px;
            background:url(../img/b.jpg) no-repeat;
            background-size:100% 100%;
        }
    }
    .right-pic{
        width:790px;
        height:186px;
        float:left;
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
            a{
                width:392px;
                height:186px;
                border:1px solid #dddddd;
                //float:left;
                //padding-top:27%;
                span{
                    display:block;
                    //background:#fcc;
                    margin-top:50px;
                    margin-left:50px;
                    font-size:16px;
                    line-height:26px;
                    color:#666666;
                    font-weight:bold;
                    p{
                        font-size:12px;
                        font-weight:normal;
                    }
                }
            }
            a:nth-child(1){
                border-bottom:none;
                background:url(../img/b2.jpg) no-repeat;
            }
            a:nth-child(2){
                border:{
                    left:none;
                    bottom:none
                }
                background:url(../img/b3.jpg) no-repeat;
            }
            a:nth-child(3){
                border:{
                    right:none;
                    bottom:none
                }
                background:url(../img/b4.jpg) no-repeat -12px top;
            }
            a:nth-child(4){
                border-bottom:none;
                background:url(../img/b1.jpg) no-repeat;
            }

        }
    }

    .four-ban{
        width:1200px;
        height:103px;
        margin:0 auto;
        background:#f1f1f1;
        display:flex;
        justify-content:space-around;
        line-height:103px;
        a{
            margin-top:26px;
            width:120px;
            height:48px;
        }

    }

    // 热卖推荐

    .hotsale{
        width:1200px;
        margin:0 auto;
        margin-top:30px;
         h2{
            line-height:60px;
            font-size:20px;
         }
         ul{
            display:flex;
            justify-content:space-around;
            flex-wrap:wrap;
            li{
                height:334px;
                background:#f1f1f1;
                margin-bottom:8px;
                text-align:center;
                span{
                    margin-top:15px;
                    display:block;
                    font-size:16px;
                    font-weight:bold;
                    color:#666666;
                    p{
                        font-weight:normal;
                        color:#999999;
                        font-size:12px;
                        line-height:24px;
                    }

                }
            }
         }

    }

// 广告图
    .five-ban{
        width:1200px;
        margin:50px auto 0;
        background:#f1f1f1;
        a:nth-child(1){
            display:block;
            height:332px;
        }
        ul{
            display:flex;
            justify-content:center;
            li{
                height:370px;
                background:#fff;
                margin:32px 15px;
                padding-top:20px;
                text-align:center;
                 span{
                    margin-top:15px;
                    display:block;
                    font-size:12px;
                    font-weight:bold;
                    color:#666666;
                    p{
                        font-weight:normal;
                        color:#999999;
                        font-size:12px;
                        line-height:28px;
                    }

                }
            }
        }
    }

    // 热卖店铺
    .hotshop{
        width:1200px;
        margin:0 auto;
        margin-top:30px;
         h2{
            line-height:60px;
            font-size:20px;
         }
         ul{
            display:flex;
            justify-content:space-around;
            flex-wrap:wrap;
            li{
                height:300px;
                background:#f1f1f1;
                margin-bottom:8px;
                text-align:center;
                span{
                    margin-top:8px;
                    display:block;
                    font-size:16px;
                    font-weight:bold;
                    color:#666666;
                }
            }
         }
    }
    .share{
        width:1200px;
        margin:0 auto;
        margin-top:30px;
         h2{
            line-height:60px;
            font-size:20px;
         }
         ul{
            display:flex;
            justify-content:space-around;
            li{
                height:300px;
                width:290px;
                background:#f1f1f1;
                margin-bottom:8px;
                text-align:center;

                span{
                    display:block;
                    width:288px;
                    height:258px;
                    overflow:hidden;
                img{
                    cursor: pointer;
                    transition: all 1.5s;
                    }
                img:hover{
                    transform:scale(1.1)
                }
                }

                p{
                    display:block;
                    margin-top:8px;
                    color:#999999;
                    font-size:14px;
                }
            }
         }

    }



